<h1>Ideas</h1>


<% unless @ideas.empty? %>
  <div class="well">
    <div class="list-group" id="idea-list">
      <% @ideas.each do |idea| %>
        <%= link_to idea_path(idea), class: "list-group-item" do%>
          <p class="list-group-item-text"><%= idea.title %></p>
          <%= link_to 'Edit', edit_idea_path(idea) %>
          <%= link_to 'Delete', idea_path(idea), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>You have no ideas yet.</p>
<% end %>

<%= link_to 'Create an idea', new_idea_path, class: 'btn btn-primary' %>
