<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center" id="idea-form-header">Create a new Idea</h1>
    <div class="well">
      <%= form_for :idea, url: ideas_path do |f| %>
          <div class="form-group">
            <%= f.label :title %><br>
            <%= f.text_field :title, class: 'form-control', id: 'title-textfield', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description, class: 'form-control', id: 'description-textarea' %>
          </div>

          <div class="form-group">
            <%= f.submit class: 'btn btn-primary', id: 'submit' %>
            <%= link_to 'Cancel', ideas_path, id: 'cancel' %>
          </div>
      <% end %>
    </div>
  </div>
</div>