<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <h1>Idea</h1>
      <div class="well">
        <h4 class="lead"><%= @idea.title %></h4>
        <p><%= @idea.description %></p>
        <%= link_to 'Edit', edit_idea_path(@idea) %>
        <%= link_to 'Delete', idea_path(@idea), method: :delete %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
      <%= react_component("NotesBox", {notes: @idea.notes, url: idea_notes_path(@idea)}) %>
    <%= link_to 'Back', ideas_path %>
  </div>

  <div class="col-md-4">
      <%= react_component("TasksBox", {tasks: @idea.tasks, url: idea_tasks_path(@idea)}) %>
  </div>
</div>