<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="container-fluid" id="idea-box">
      <div class="well">
        <blockquote class="text-center">
          <p class="lead"><%= @idea.title %></p>
          <% unless @idea.description.empty? %>
            <footer><%= @idea.description %></footer>
          <% end %>
          <span class="pull-right label label-<%= @idea.current_status_css %>"><%= @idea.status.capitalize %></span>
        </blockquote>
        <footer class="pull-right" id="idea-action-footer">
          <%= link_to '', edit_idea_path(@idea), class: "glyphicon glyphicon-pencil", id: "edit-idea" %>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
      <%= react_component("NotesBox", {url: idea_notes_path(@idea)}) %>
  </div>

  <div class="col-md-4">
      <%= react_component("TasksBox", {url: idea_tasks_path(@idea)}) %>
  </div>
</div>