<h1>Show Idea</h1>
<p>
  <strong>Title:</strong>
  <%= @idea.title %>
  <%= link_to 'Edit', edit_idea_path(@idea) %>
  <%= link_to 'Delete', idea_path(@idea), method: :delete %>
</p>

<h2>Notes:</h2>
<% @idea.notes.each do |note| %>
  <p>
    <strong>Content:</strong>
    <%= note.content %>
    <%= link_to 'Edit', edit_idea_note_path(note.idea, note) %>
    <%= link_to 'Delete', idea_note_path(note.idea, note), method: :delete %>
  </p>
<% end %>

<h3>Add a note:</h3>
<%= form_for([@idea, @idea.notes.build]) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Tasks:</h2>
<% @idea.tasks.each do |task| %>
  <p>
    <strong>Title:</strong>
    <%= task.title %>
    <%= link_to 'Edit', edit_idea_task_path(task.idea, task) %>
    <%= link_to 'Delete', idea_task_path(task.idea, task), method: :delete %>
  </p>
<% end %>

<h3>Add a task:</h3>
<%= form_for([@idea, @idea.tasks.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', ideas_path %>