<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="container-fluid">
      <div class="well" id="idea-box">
        <blockquote class="text-center">
          <p class="lead" id="idea-title"><%= @idea.title %></p>
          <% unless @idea.description.empty? %>
            <footer id="idea-description">
              <p id="idea-description"><%= @idea.description %></p>
            </footer>
          <% end %>
          <span class="pull-right label label-<%= @idea.current_status_css %>" id="idea-status"><%= @idea.status.capitalize %></span>
        </blockquote>
        <footer class="pull-right" id="idea-action-footer">
          <%= link_to '', edit_idea_path(@idea), class: 'glyphicon glyphicon-pencil', id: 'idea-edit' %>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
      <%= react_component("NotesBox", {url: idea_notes_path(@idea)}) %>
  </div>

  <div class="col-md-4">
      <%= react_component("TasksBox", {url: idea_tasks_path(@idea)}) %>
  </div>
</div>