<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Sign up</h1>
    <div class="well">
      <%= form_for @user do |f| %>
          <%= render 'shared/error_messages' %>
          
          <%= f.label :name, class: "sr-only" %>
          <%= f.text_field :name, placeholder: 'Name', class: 'form-control', id: 'name-textfield', autofocus: true %>
          <br/>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control', id: 'email-textfield' %>
          <br/>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control', id: 'password-textfield' %>
          <br/>
          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'form-control', id: 'password-confirmation-textfield' %>
          <br/>
          <%= f.submit "Create account", class: 'btn btn-primary', id: 'create-account-button' %>
      <% end %>

      <span>Got an account already? <%= link_to "Log in!", login_path, id: 'log-in-link' %></span>
    </div>
  </div>
</div>
